
@{
    ViewBag.Title = "TrangChuCongTy";
    Layout = "~/Views/Shared/_layoutCongTy.cshtml";
}
<a href="~/CongTy/Tintuc"><input style="margin-left:30%" class="btn btn-sm btn-primary " value="Đăng tin"></a>
<a href="~/CongTy/DanhSachNguoiNop"><input class="btn btn-sm btn-primary " value="Danh sách người nộp"></a>


